# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PUBLIC_URL=http://localhost:3000
STRIPE_PRICE_STARTER=
STRIPE_PRICE_PRO=

# 10Web
TENWEB_API_BASE=https://api.10web.io
TENWEB_API_KEY=

# n8n (optional now)
N8N_WEBHOOK_URL=

